header {
    background: linear-gradient(90deg, #5c258d 0%, #b06ab3 50%, #d4af37 100%);
    text-align: center;
    font-size: 25px;
    padding: 20px 20px;
    margin: 0;
}
nav ul{
    display: flex;
    justify-content: center;
    margin:0;
    list-style: none;
    padding: 10px ;
    justify-content: center;
    gap: 30px;
}
nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding: 6px 10px; 
}
nav a:hover {
   text-decoration: underline; 
}

.slider{
    width: 100vw;
    margin: 24px 0;
    padding: 0;
}

.slides {
    width: 100%;
    display: flex;
    gap:16px;
    overflow-x: auto;
    padding:8px 0;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

}

.slides .event-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 60px;
    scroll-snap-align: center;
    scroll-snap-stop:always
}

footer {
    background: linear-gradient(90deg, #5c258d 0%, #b06ab3 50%, #d4af37 100%);
    text-align: center;
    
}