@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&family=Raleway:wght@400;600&display=swap');

body {
  font-family: "Raleway", sans-serif;
}

.big-title {
  font-family: "Syncopate", sans-serif;
  letter-spacing: 4px;
}

/* Wrapper */
.page.jazz-corner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(circle at top, #7c0a0a63, #000000);
  color: white;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  padding: 2rem;
}


.jazz-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;

}

.events-side {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 400px;

}

.event-card {
  background: rgba(165, 71, 71, 0.05);
  border: 2px solid #d4af37;
  border-radius: 14px;
  overflow: hidden;
  transition: transform 0.25s ease, background 0.3s ease;
  box-shadow: 0 6px 24px rgba(24, 8, 8, 0.35);
  color: #fff;
  height: 370px;
  /* <-- högre kort (tidigare 185px) */
  display: flex;
  flex-direction: column;
}

.event-card img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  display: block;

}

.event-card:hover {
  transform: translateY(-5px);
  background: rgba(235, 223, 223, 0.1);

}

.event-card h3 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
  color: #d4af37;
}

.event-card p {
  font-size: 1, 2rem;
  opacity: 0.8;
  text-align: center;
  padding: 1px;
  margin: 1px;
  color: #d4af37;
  font-weight: 800;
}

.center-text {
  text-align: center;
  max-width: 600px;
}

.big-title {
  font-family: "Syncopate", sans-serif;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 0.8rem;
  color: #d4af37;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.subtitle {
  font-size: 1rem;
  opacity: 0.8;
  line-height: 1.5;
}


.page-footer {
  margin-top: 3rem;
  text-align: center;
  opacity: 0.6;
  border: solid #d4af37;
  background-color: black;
  font-weight: 800;
}

.page.jazz-corner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}