@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=play_circle");


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.fjalla-one-regular {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#myForm{
    p{
        color: #fff;
    }
}

body.rally-house{
    background: url(https://images.steamusercontent.com/ugc/927052267576803471/2385C4C29F428A972318B8C881D70CE8F436758B/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false);
    background-size: cover;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;

    font-family: "Fjalla One", sans-serif;

}

#main{
    background-color: rgba(250, 215, 236, 0.75);
    border: 5px solid #670000;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 30%;
    text-align: center;

    width: 60%;           /* prevent stretching */
    margin: 0 auto;        /* center it */
    padding: 2%;         /* keep internal spacing consistent */

    box-sizing: border-box; /* ensures padding doesn’t add to width */

    h1{
        color: #670000;
        font-size: 50px;
    }
}

#songs{
    article{
        flex-direction: column;
    }
}

#events{
    display: flex;

    padding-top: 15%;

    /*chat gpt */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 5%; /* spacing between events */
    justify-items: center; /* optional: center content */
    margin-top: 7%;

}

article.starterSongs{
    justify-items: left;
    display: grid;
}

article.rally-house{
    padding-left: 5%;
    padding-right: 5%;
    border: 2px solid #670000;
    border-radius: 10px;

}

#button {
  padding: 8px 16px;
  margin-top: 10px;
  background-color: #fff;
  color: rgba(0, 0, 0, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#button:hover {
  background-color: #555;
}

@media (max-width: 570px){
    #main{
        width: 90%;           /* prevent stretching */
    }

}

@media (max-width: 364px){
    #events {
    grid-template-columns: repeat(2, 1fr); /* only 2 columns on small screens */
  }
}

@media (max-width: 238px){
    #events {
    grid-template-columns: repeat(1, 1fr); /* only 1 column on small screens */
  }
}